html
    head
        title= pageTitle
        link(rel="stylesheet" href="/css/style.css")
    body
        h1= tableName

        a.update-link(href="/update-cobj") Add to this table

        // Pokemon table
        table
            thead
                tr
                    th name
                    th type
                    th nature
            tbody
                each pokemon in pokemons
                    tr
                        td #{pokemon.properties.name}
                        td #{pokemon.properties.type}
                        td #{pokemon.properties.nature}